# Arquivos compilados pelo Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Se usar o wrapper do maven, evite ignorar o jar dele:
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Sistema Operacional
.DS_Store
Thumbs.db